<!DOCTYPE html>
<html>

<head>
<style>
form { 
    display: block;
    margin-top: 3em;
    margin-left: 3em;
    accept-charset="UTF-8";
}
</style>
</head>

<body>

<%= form_tag("/search", method: "get") do %>
  <%= label_tag(:q, "Search for:") %>
  <%= text_field_tag(:q) %>
  <%= submit_tag("Search") %>
<% end %>

<form accept-charset="UTF-8" action="/action_page.php" method="post">
Sign up<br>
User name: <input type="text" name="UserName" value=""><br>
Email: <input type="text" name="Email" value=""><br>
Password: <input type="text" name="Password" value=""><br>
<input type="submit" value="Submit">
</form>

</body>
</html>
